/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100vh;
}

/* Container */
.container {
    display: flex;
    width: 100%;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    padding: 0 2%;
    border-bottom: 1px solid #ddd;
}

.profile {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.username {
    font-size: small;
    font-weight: 900;
    margin-left: 10px;
    color: #555;
}

/* Sidebar */
.sidebar {
    width: 20%;
    max-width: 220px;
    min-width: 100px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #ddd;
    padding: 16px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar nav a {
    display: block;
    padding: 12px;
    color: #555;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
    background: #f2f5fc;
    color: #4d63d5;
    border-radius: 0 25px 25px 0;
}

/* Main Content */
main {
    padding: 30px;
}

/* Card */
.card {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 44vw;
    overflow: auto;
}

.card-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    justify-content: space-evenly;
}

.card-header img {
    height: 70px;
}

.btn {
    background: #122683;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

.btn-cncl {
    background: #fff;
    color: #122683;
    padding: 10px 25px;
    border: 1px solid #122683;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: 20%; */
    margin-right: 3%;
}

.btn-cncl:hover {
    background: #0056b3;
    color: #fff;
}

.btn-sec {
    display: flex;
    justify-content: flex-end;
}

/* Statistics */
.statistics {
    margin-top: 20px;
}

.stat-card {
    background: #fff;
    padding: 15px;
    width: 44vw;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.stat-item {
    padding: 15px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 1px solid #f0f0f0;
}

.emoji {
    background: #f0f0f0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.emoji span {
    font-size: x-large;
}

.text-column {
    display: flex;
    flex-direction: column;
}

/* Graph */
.graph {
    height: 70vh;
    width: 44vw;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    overflow: auto;
}

#line_top_x {
    height: 51vh;
    width: 44vw;

}

/* Analysis */
.analysis {
    height: 50vh;
    width: 26vw;
    margin-top: 80px;
    margin-right: 20px;
    padding: 5px 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 35px;
    overflow: auto;
}

/* Progress Bars */
.progress-group {
    line-height: 50px;
}

.percentage {
    display: flex;
}

.percentage strong {
    margin-top: -22px;
    margin-left: 32px;
}

.progress-bar {
    height: 8px;
    width: 100%;
    background: #e5e5e5;
    border-radius: 4px;
    overflow: auto;
    position: relative;
}

.progress-bar::before {
    content: '';
    display: block;
    height: 100%;
    width: var(--value);
}

.progress-bar.blue-bar::before {
    background: #4389f6;
    --value: 80%;
}

.blue-div {
    color: #4389f6;
}

.progress-bar.orange-bar::before {
    background: #ff8e42;
    --value: 60%;
}

.orange-div {
    color: #ff8e42;
}

.progress-bar.red-bar::before {
    background: #fa5f5d;
    --value: 24%;
}

.red-div {
    color: #fa5f5d;
}

.progress-bar.green-bar::before {
    background: #2ec870;
    --value: 96%;
}

.green-div {
    color: #2ec870;
}

/* Question Analysis */
.question-analysis {
    height: 61vh;
    width: 26vw;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    overflow: auto;
}

/* Pie Chart */
#donut_single {
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
}

/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    width: 40%;
    border: 1px solid #ddd;
    border-radius: 8px;
    line-height: 35px;
}

/* Overlay style */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.num {
    height: 30px;
    width: 30px;
    background-color: #122683;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-sec {
    display: flex;
}

label {
    margin-left: 3%;
    flex: 2;
    margin-right: 10px;
    font-size: 14px;
}

input {
    flex: 1;
    padding: 5px;
    border: 1px solid #122683;
    border-radius: 4px;
    font-size: 14px;
    height: 20px;
}

.heading img {
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 22px;
}

.heading h2 {
    margin-bottom: 30px;
}